
<div class="container text-center mt-2">

  <h1> Welcome to the app!</h1>



</div>


<div class="container">
  <h2>Have a look at our restaurants:</h2>

  <table class="my-3">


    <tr>

      <th class="px-3">Name</th>
      <th class="px-3">Rating</th>
      <th class="px-3">Details</th>


    </tr>

     <% @review_hash.each do |id, review| %>

     <tr>

        <td class="p-3">
          <%= Restaurant.find(id).name.capitalize %>
        </td>
        <td class="p-3"><% review.times do %>
          <i class="fas fa-star"></i>
          <% end %>
        </td>

        <td>
          <%= link_to "See details", restaurant_path(Restaurant.find(id)), class: "p-3"%>
        </td>


    </tr>




     <% end %>







  </table>






</div>
